[mysqld]
#general_log=1
#general_log_file=/var/log/mysql/query.log
#log_output=FILE

slow_query_log=1
long_query_time=1
log_queries_not_using_indexes=1
slow_query_log-file = /var/log/mysql/mysql-slow.sql
